/*
Copyright - 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
variables for color. Needed for browsers with JS deactived
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
	:root {
		--main-background-color: black;
		--main-color: white;
		--link-hover-color: lightgray;
		--link-color: orange;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--main-background-color: white;
		--main-color: black;
		--link-hover-color: #505050;
		--link-color: #8b0000;
	}
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
fonts
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

@font-face {
	font-family: RAZARA-regular;
	src: url("opensans-regular.woff2") format("woff2");
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
Overload of variables for prefered colors when JS is active
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

body.cyDark {
	--main-background-color: black;
	--main-color: white;
	--link-hover-color: lightgray;
	--link-color: orange;
}

body.cyLight {
	--main-background-color: white;
	--main-color: black;
	--link-hover-color: #505050;
	--link-color: #8b0000;
}

body {
	font-family: RAZARA-regular, Helvetica, Arial, sans-serif;
}

#cySiteName {
	padding: 2em;
	padding-left: 3em;
	font-size: 175%;
}

#cySiteName > a {
	color: var(--main-color);
	text-decoration: none;
}

#cySiteName > a:hover {
	color: var(--main-color);
	text-decoration: none;
}

#cySiteName > a > span {
	color: var(--link-color);
}

#cySiteName > a > span:hover {
	color: var(--link-color);
}

#cyEnter {
	border-style: solid;
	border-width: 0.1em;
	font-size: large;
	font-weight: bold;
	padding: 1em;
	cursor: pointer;
}

body {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 56vw 1fr 1fr;
}

#cyImg {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	background-color: red;
	background-image: url( "/homePage/homeH.WebP");
	background-size: 100%;;
}

header {
	grid-column: 1 / 1;
	grid-row: 2 / 3;
}

section {
	grid-column: 1 / 1;
	grid-row:  3 / 3;
	text-align: center;
}

noscript {
	margin: 2em;
}

@media screen and (width >= 972px) {

	body {
		display: grid;
		grid-template-columns: 67vh 1fr;
		grid-template-rows: 50vh 50vh;
	}

	#cyImg {
		grid-column: 1 / 1;
		grid-row: 1 / 3;
		background-color: red;
		background-image: url( "/homePage/homeV.WebP");
		background-size: 100%;;
	}

	header {
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}

	section {
		grid-column: 2 / 2;
		grid-row:  2 / 2;
		text-align: center;
	}
}