/*
Copyright - 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
variables for color. Needed for browsers with JS deactived
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
	:root {
		--main-background-color: black;
		--main-color: white;
		--link-hover-color: lightgray;
		--link-color: orange;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--main-background-color: white;
		--main-color: black;
		--link-hover-color: #505050;
		--link-color: #8b0000;
	}
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
fonts
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

@font-face {
	font-family: RAZARA-regular;
	src: url("opensans-regular.woff2") format("woff2");
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
Overload of variables for prefered colors when JS is active
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

body.cyDark {
	--main-background-color: black;
	--main-color: white;
	--link-hover-color: lightgray;
	--link-color: orange;
}

body.cyLight {
	--main-background-color: white;
	--main-color: black;
	--link-hover-color: #505050;
	--link-color: #8b0000;
}

h1 {
	font-size:2em;
	color: red;
	font-weight: bolder;
	margin-left: 0.5cm;
}

p > span  {
	font-weight: bold;
}

p {
	margin-left : 0.5cm;
	margin-right: 0.5cm;
}

#carresContainer {
	text-align: center;
}

.carre{
	width: 2cm;
	height:2cm;
	margin-top: 2cm;
	margin-bottom: 2cm;
	display:block;
	margin-left : calc(50% - 1cm);
}

#red {
	background-color: red;
}

#green {
	background-color: green;
}


@media screen and (width >= 1281px) {
	h1 {
		font-size : 5em;
		margin-left: 2cm;
	}

	p {
		margin-left : 4cm;
		margin-right: 4cm;
	}

.carre {
		margin-top: 3cm;
		width: 3cm;
		height:3cm;
		margin-left: 3cm;
		margin-right: 3cm;
		display:inline-block;
	}
}